* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html, .container, .content {
  width: 100%;
  height: 100%;
}

.title {
  padding-top: 1em;
  text-align: center;
  font-size: 8vw;
}
.square {
  width: 200px;
  height: 200px;
  border: 1px solid black;
  margin: 10% auto;
  background-color: yellow;
}

.web {
  margin-top: 100px;
}

.square > h4 {
  font-family: Neutra Text Bold;
  display: inline-block;
  vertical-align: bottom;
  font-size: 40px;

}
